Mike Schilli <m@perlmeister.com> <github@perlmeister.com>
Nicolas R <atoomic@cpan.org> <cpan@atoomic.org>
Nicolas R <atoomic@cpan.org> <nicolas@atoomic.org>
Nicolas R <atoomic@cpan.org> <rochelemagne@cpanel.net>